<html>
    <head>
        
    </head>
    <body>
        <h1>This is a form page</h1>
        <form action='/submit' method = 'post'>
            <input type = 'number' name = 'Pclass' placeholder = 'Pclass' required = 'required'>
            <input type = 'number' name = 'Age' placeholder = 'Age' required = 'required'>
            <input type = 'number' name = 'SibSp' placeholder = 'SibSp' required = 'required'>
            <input type = 'number' name = 'Parch' placeholder = 'Parch' required = 'required'>
            <input type = 'number' name = 'Fare' placeholder = 'Fare' required = 'required'>
            <input type = 'number' name = 'Sex_female' placeholder = 'Sex_female' required = 'required'>
            <input type = 'number' name = 'Sex_male' placeholder = 'Sex_male' required = 'required'>
            <input type = 'number' name = 'Embarked_C' placeholder = 'Embarked_C' required = 'required'>
            <input type = 'number' name = 'Embarked_Q' placeholder = 'Embarked_Q' required = 'required'>
            <input type = 'number' name = 'Embarked_S' placeholder = 'Embarked_S' required = 'required'>
            <input type = 'number' name = 'Embarked_s' placeholder = 'Embarked_s	' required = 'required'>
            <input type = 'number' name = 'Title_Miss' placeholder = 'Title_Miss' required = 'required'>
            <input type = 'number' name = 'Title_Mr' placeholder = 'Title_Mr' required = 'required'>
            <input type = 'number' name = 'Title_Mrs' placeholder = 'Title_Mrs' required = 'required'>
            <input type = 'number' name = 'Title_Others' placeholder = 'Title_Others' required = 'required'>
            
             <button type = 'submit'>Predict</button>
        </form>
    </body>
</html>